/* variables */
:root {
    --backgroundColor: rgb(47, 125, 241);
    --width: 980px;
}

/* reset styles */
*{
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
  
p {
  margin: 0;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
  
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
  
input[type=submit]:hover {
  background-color: #45a049;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
  
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
  
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* common */

h2 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.divider {
    height: 120px;
}

p {
    padding: 40px 20px;
}

textarea{
    height: 200px;
}

ul {
    margin: 0;
}

/* header */
header {
   position: fixed;
   z-index: 100;
   width: 100%;
   height: 80px;
   background-color: var(--backgroundColor); 
}

.header-wrapper {
    max-width: var(--width);
    margin: 0 auto;
    display: flex;
    position: relative;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    line-height: 80px;
}
  
nav a {
    color: #fff; 
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
  
nav a:hover {
    color: #13293d;
}

.avatar {
    position: absolute;
    background-image: url(./../images/avatar.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 169px;
    height: 149px;
    text-align: center;
    line-height: 149px;
    right: 20px;
}

/* main content */

.page-wrapper {
    max-width: var(--width);
    margin: 0 auto;
}

.page-section {
    height: 100vh;
    position: relative;
}

.form-wrapper{
    padding: 25px;
    width: 100%;
}

.about_wrapper{
    display: grid;
    grid-template-rows:  300px 300px ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "m n"
    "g v";
    margin-top: 35px;
}

.about_item {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.about_item_1 {
    grid-area: "m";
}

.about_item_2 {
    grid-area: "n";
    background-image: url('../images/beautiful-rain-forest.jpg');
}

.about_item_3 {
    grid-area: "g";
    background-image: url('../images/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background.jpg');
}

.about_item_4 {
    grid-area: "v";
}


.items_wrapper{
    display: grid;
    grid-template-rows:  300px 300px ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "a b c"
    "d e f";
    margin-top: 20px;
}

.item {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    align-items: flex-end;
    background-size: cover;
    opacity: 0.8;
    
}

@keyframes background-image {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
}

.item:hover {
    animation: background-image 3s ease-in-out;
}

.item_placeholder{
    background-color: rgba(0,0,0,0.5);
    height: 70px;
    color: #ffffff;
    padding: 10px;
}

.item_1 {
    grid-area: a;
    background-image: url('./../images/band-abstract-background-surface.jpg');
}

.item_2 {
    grid-area: b;
    background-image: url('./../images/business-people-walking-on-street.jpg');
}

.item_3 {
    grid-area: c;
    background-image: url('./../images/close-blue-fiber-optics-texture.jpg');
}

.item_4 {
    grid-area: d;
    background-image: url('./../images/feather-and-stone-balance.jpg');
}

.item_5 {
    grid-area: e;
    background-image: url('./../images/geometric-shape-abstract-technology.jpg');
}

.item_6 {
    grid-area: f;
    background-image: url('./../images/stock-photo-illustrated-street.jpg');
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .page-section {
        height: 100%;
    }

    .items_wrapper{
        display: grid;
        grid-template-rows:  300px 300px ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "a b c"
        "d e f";
        margin-top: 20px;
        margin: 20px 20px 0;
    }

    .item:hover {
        background-size: cover;
    }

    .item_placeholder{
        font-size: 0.9rem;
        line-height: 0.9rem;
    }

    .about_item{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 767px) {
    .page-section {
        height: 100%;
    }

    .items_wrapper{
        display: grid;
        grid-template-rows:  300px 300px 300px 300px 300px 300px ;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a" "b" "c" "d" "e" "f";
        margin-top: 20px;
        padding: 0 20px;
    }

    .item:hover {
        background-size: cover;
    }

    .item_placeholder{
        font-size: 0.9rem;
    }

    nav a {
        padding: 14px 14px;
    }

    .avatar {
        display: none;
    }

    .about_wrapper{
        display: grid;
        grid-template-rows:  300px 300px  300px 300px; 
        grid-template-columns: 1fr;
        grid-template-areas: 
        "m" "n"
        "g" "v";
        margin-top: 35px;
    }

    .about_item_1 {
        grid-area: "m";
        order: 1;
    }
    
    .about_item_2 {
        grid-area: "n";
        background-image: url('../images/beautiful-rain-forest.jpg');
        order: 0;
    }
    
    .about_item_3 {
        grid-area: "g";
        background-image: url('../images/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background.jpg');
        order: 2;
    }
    
    .about_item_4 {
        grid-area: "v";
        order: 3;
    }
    
}